body {
    background-color: var(--primary-color);
    font-family: "Outfit", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 25px;
}

.contaner-qr {
    background-color: white;
}

.container .contaner-qr {
    max-width: 330px;
    border-radius: 20px;
    padding: 16px 16px 24px 16px;
}

.container .contaner-qr .qr-code-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.container .title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 22px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 10px ;
    /* margin-top: 10px; */
    /* padding: 16px; */
}

.container .text {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 10px;
    
}